@import "../partials/vars";
@import "../partials/mixins";

.footer--block {
  text-align: center;
  padding: 20em 0 1em 0;
}

@include media-breakpoint-down(md) {
  .footer--block {
    padding: 4em 0 1em 0;
  }
}

.footer--title {
  color: $text-color;
}