@import "../partials/vars";
@import "../partials/mixins";

.page--header {
  color: $text-color;
  margin-top: 2em;
}

.header--title {
  color: $text-color;
  &:link, &:visited, &:hover {
    text-decoration: none;
  }
}

@include media-breakpoint-down(lg) {
  .page--header {
    padding-top: 45vh;
    padding-bottom: 50vh;
  }
  .header--title {
    transition: 0.5s;
    font-size: 1.6em;
    text-align: center;
  }
}