@import "../partials/vars";
@import "../partials/mixins";

.nav--list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0 0;
  overflow-x: hidden;
}

.nav--item {
  display: inline-block;
}

.nav--anchor {
  color: $text-color;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.4s;

  &:visited, &:link {
    color: $text-color;
  }

  &:hover {
    text-shadow: 0 0 1em aliceblue;
  }
}

@include media-breakpoint-down(lg) {
  .header--nav {
    position: initial;
  }

  .nav--element {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 5;
  }

  .nav--toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 4em;
    width: 20vw;
  }

  .nav--element-active {
    .nav--list {
      height: 100vh;
      visibility: visible;
    }
    &::before {
      transform: rotate(90deg);
    }
  }

  .nav--list {
    height: 0;
    overflow-y: hidden;
    display: block;
    transition: 0.6s;
    visibility: hidden;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .nav--item {
    display: block;
    // TODO: Make this value dynamic
    height: 10vh;
  }

  .nav--element::before {
    content: "☰";
    font-size: 2em;
    padding: 3px 12px;
    display: inline-block;
    font-stretch: expanded;
    transition: 0.5s;
    border-radius: 0.5em;
    background-color: transparentize($background-color, 0.25);
  }
}