.dockerignore
.gitignore
Makefile
README.md
LICENSE
.travis.yml
.php_cs.cache
ansible/
docs/
docker/nginx/Dockerfile
docker/php-fpm/Dockerfile
docker/redis/Dockerfile
docker/docker-compose.yml
docker/docker-compose.dev.yml
src/var/cache/prod/*
src/var/cache/dev
src/var/cache/test
src/var/log/*
src/vendor
src/.php_cs.cache
src/bin/composer
src/test-coverage
/src/public/uploads/*
/src/public/bundles/*
*.retry
*.tmp
