.idea/
.vscode/
*.retry
*.tmp
.php_cs
.php_cs.cache

/frontend/node_modules
/frontend/.pnp
frontend/.pnp.js

/frontend/coverage

# production
/frontend/build

# misc
frontend/.DS_Store

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Local .terraform directories
*.terraform**

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.terraform

# Output
**kubeconfig**
