<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <title>{% block title %}Maarten van der Heijden's portfolio{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="Maarten van der Heijden">
        <meta name="keywords" content="Maarten van der Heijden, software development, software, web, webdevelopment, web development, php, javascript, docker, ansible">
        <meta property="og:title" content="Maarten van der Heijden">
        <meta property="og:site_name" content="Maarten van der Heijden">
        <meta property="og:type" content="website">
        <meta property="og:author" content="Maarten van der Heijden">
    {% endblock %}
    </head>
    <body>
    {% block body %}

    {% endblock %}
    </body>
</html>