{% extends "default-layout.twig" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 main--text-content">
            {% block textContent %}{% endblock %}
        </div>
    </div>
{% endblock %}