<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        {% include "layout/metadata.twig" %}
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/home/home.css">
        {% endblock %}
    {% endblock %}
    </head>
    <body>
        {% block body %}
            {% include "layout/background.twig" %}
            <div class="container-fluid page--container">
                {% block container %}
                    <div class="content--container">
                        {% block content %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
