{% block nav %}
    <nav>
        <ul class="nav-items">
            <li>Test</li>
            <li>Test</li>
            <li>Test</li>
            <li>Test</li>
            <li>Test</li>
        </ul>
    </nav>
{% endblock %}