.navbar-container {
  height: 97.5%;
  width: 100%;
  position: absolute;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.navbar-item {
  img {
    max-height: 3.5em;
  }
}
