{% extends "../shared/default-layout.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/projects/projects.css">
{% endblock %}

{% block content %}
    <div class="row projects--text-block justify-content-center">
        <div class="col-md-8 main--text-content">
            {{- content -}}
        </div>
    </div>
    <div class="row projects--block justify-content-center">
        <div class="col-md-8">
            <ul class="projects--list">
                {% for project in activeProjects %}
                    {% include "project.twig" with project %}
                {% else %}
                    <li class="projects--item text-white">
                        Nothing's here!
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row projects--text-block justify-content-center">
        <div class="col-md-8 main--text-content">
            <h3>Archived projects:</h3>
        </div>
    </div>
    <div class="row projects--block justify-content-center">
        <div class="col-md-8">
            <ul class="projects--list">
                {% for project in archivedProjects %}
                    {% include "project.twig" with project %}
                {% else %}
                    <li class="projects--item text-white">
                        Nothing's here!
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}