<li class="projects--item">
    <a href="{{- project.html_url -}}" class="project--anchor">
        <h5 class="project--title">
            {{- project.name -}}
        </h5>
        <p class="project--description">
            {{- project.description -}}
        </p>
        <span class="project--language">
            {{- project.language -}}
        </span>
    </a>
</li>