/*! pretty-print-json v0.2.1 ~ github.com/center-key/pretty-print-json ~ MIT License */

.json-key     { color: red; }
.json-string  { color: lightgreen; }
.json-number  { color: lightblue; }
.json-boolean { color: teal; }
