{% block footer %}
    <footer class="row page--footer">
        <div class="col-12 footer--block">
            <p class="footer--title">{{ layout.footer.title }}</p>
        </div>
    </footer>
{% endblock %}