{% block header %}
    <header class="row justify-content-around page--header">
        <div class="col-md-5">
            <a href="/">
                <h1 class="header--title">
                    {% block pageTitle %}Maarten van der Heijden{% endblock %}
                </h1>
            </a>
        </div>
        <div class="col-md-7 header--nav">
            {% include "nav.twig" %}
        </div>
    </header>
{% endblock %}