{% block nav %}
    <nav class="nav--element" id="nav--element">
        <div class="nav--toggle"></div>
        <ul class="nav--list">
            {% for item in layout.menu.items %}
                <li class="nav--item">
                    <a href="{{ item.href }}" class="nav--anchor">{{ item.displayName }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
