@import "partials/vars";
@import "partials/mixins";
@import "partials/animations";

.main--text-content {
  color: $text-color;
  font-family: sans-serif;
  margin-top: 6vh;
  opacity: 0.1;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 0.7s;

  word-spacing: 0.1em;

  h2 {
    font-size: $content-title-base-size;
    margin-bottom: 0.4em;
    &:not(:first-child) {
      margin-top: 1.8em;
    }
  }
  h3 {
    font-size: $content-title-base-size / 1.5;
    margin-top: 1.6em;
    margin-bottom: 0.4em;
  }
  h4 {
    font-size: $content-title-base-size / 2;
    margin-top: 1.4em;
    margin-bottom: 0.4em;
  }
  h5 {
    font-size: $content-title-base-size / 2.5;
    margin-top: 1.2em;
    margin-bottom: 0.4em;
  }
  h6 {
    font-size: $content-title-base-size / 3;
    margin-top: 1em;
    margin-bottom: 0.4em;
  }
  img {
    min-width: 30%;
    max-width: 60%;
  }
}

@include media-breakpoint-down(md) {
  .main--text-content {
    margin-top: initial;
  }
}