@import "vars";
@import "../shared/header";
@import "../shared/nav";

.page--background {
  background-size: cover;
  background: linear-gradient(135deg, darken($background-color, $background-darken-amount) 0%, $background-color 50%, lighten($background-color, $background-lighten-amount) 100%) fixed;

  animation-name: background-animation;
  animation-iteration-count: infinite;
  animation-duration: $background-animation-duration;
  animation-timing-function: ease-in-out;

  position: fixed;
  z-index: -10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.page--content {
  color: $text-color;
}