@import "vars";
@import "mixins";
@import "../shared/header";
@import "../shared/nav";

.page--background {
  background-size: cover;
  background: linear-gradient(135deg, darken($background-color, $background-darken-amount) 0%, $background-color 50%, lighten($background-color, $background-lighten-amount) 100%) fixed;

  animation-name: background-animation;
  animation-iteration-count: infinite;
  animation-duration: $background-animation-duration;
  animation-timing-function: ease-in-out;

  position: fixed;
  z-index: -10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.background--star {
  text-shadow: 0 0 1em white;
  position: absolute;
  animation: shooting-stars;
  animation-iteration-count: infinite;
  animation-duration: $star-duration;
  animation-timing-function: linear;
  opacity: 0;

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      $delay: random($star-max-delay * 2) - $star-max-delay  + 0s;
      top: random(160) - 100;
      left: random(120) - 20 + 0%;
      animation-delay: $delay;

      &::before {
        font-size: $star-size;
        color: random_element(($star-color, lighten($star-color, $background-lighten-amount), darken($star-color, $background-darken-amount)));
        animation-delay: $delay;
        content: random_element($star-elements);
      }
    }
  }
}

.page--content {
  color: $text-color;
}