$background-color: #001238;
$text-color: ghostwhite;

$background-animation-range: 140deg;
$background-animation-duration: 25s;
$background-lighten-amount: 8%;
$background-darken-amount: 4%;

$star-size: 13pt;
$star-color: white;
$star-duration: 35s;
$star-max-delay: 60;
$star-count: 45; // TODO: Make this dynamic since this number is also used in a Twig template
$star-max-opacity: 0.6;
$star-elements: '*', '{}', ';', '()', '&&', '||', '*', '<>', '$', '!', '>=', '+=', '==', '\n', '[]', '~/', 'cd', 'ls', '\'', '"', '`';

$content-title-base-size: 3em;
