{% extends "../shared/default-layout.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/error/error.css">
{% endblock %}

{% block container %}
    <div class="container">
        <main class="row">
            <div class="col-12 text-center">
                <h2 class="error--title">This page does not exist</h2>
                <a href="/" class="error--anchor">Back to the homepage</a>
            </div>
        </main>
    </div>
{% endblock %}